.process {
    display: inline-block;
    position: relative;
    background-color: $off;
    height: 5px;
    width: 200px;
    border-radius: 2px;
    margin-left: 8px;
    overflow: hidden;

    &--validate {
        content: '';
        position: absolute;
        display: block;
        height: 5px;
        background-color: $validation;
    }

    &--failed {
        content: '';
        position: absolute;
        display: block;
        height: 5px;
        background-color: $danger;
    }

    &--other {
        content: '';
        position: absolute;
        display: block;
        height: 5px;
        background-color: $primary;
    }
}
