.quizz{
    margin-top: 100px;
    background-color: white;
    height: 1024;
    padding: 40px;
    border-radius: 10px;



}
span{
    font-size: 20px;

}
p{
    font-size: 15px;
}
span, h1, p {
    font-family: 'Roboto', 'New Courrier';
}

.quizz_nom{
    margin-bottom: 40px;
    text-align: center;
}

.quizz_container{

    display:flex;
    flex-direction: column;
    align-items: center;
}
#quizz_support_question img{
    width: auto;
    box-shadow: 8px 8px 12px #aaa;
}
#quizz_support_question iframe{
    height: 55%;
    box-shadow: 8px 8px 12px #aaa;
}
#quizz_support_question span{
    justify-content: center;
}
#quizz_reponse{
    display: flex;
    align-items: center;

    cursor: pointer;
    height: 1px;
    flex-direction: space-around;
    margin-top: 100px;
    margin-left: 50px;
}
#quizz_reponse span:hover{
    text-decoration: underline;
}
.quizz_reponse_circle{
    border-radius: 100%;
    border: 1px solid black;

    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.quizz_reponse_text{

    width: 350px;
    margin-left: 50px;
    align-items: center;
    padding: 0;
}

#quizz_ready_button
{
    margin-top: 100px;

    span{

        text-align: center;
        width: 100px;
        background-color: $off;
        border-radius: 10px;

        padding: 8px 16px;
        cursor: pointer;
    }

}
#quizz_ready_button:hover
{
    transform: scale(1.2);
    transition-duration: 0.3s;
}
#quizz_question
{
    margin-top: 50px;
}
#quizz_see_support
{

    border: 1px solid black;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;


}

.hide{
    display: none;
}
